# cmake directory
build/

# vim
*~
*.swp
/compile_commands.json

# vscode
.vscode/

# private config
config/

# python
venv/
__pycache__/

# jetbrain
.idea/

/demo/java/*.iml
/demo/java/target/

# golang run files
nohup.out
log/
src/babeltrader-okex-v3-quote
